 
 
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>
 
<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p> <%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to "Delete this post", @post, :confirm => "Are you sure?", :method => :delete %> | 
<%= link_to 'Back to Posts', posts_path %> </p>





<p> <%= "Comments" %> </p>
  <% @post.comments.each do |comment| %>
    <h3> <%= comment.username %> </h2> 
    <p> <%= comment.body %> </p>
    <p><%= link_to "Edit this comment", edit_post_comment_path(comment.post, comment) %> |
    <%= link_to "Delete this comment", [comment.post, comment],:method => :delete  %> </p>


<% end %>



 
<h2>Add a comment:</h2>
<%= form_for [@post, @post.comments.new] do |f| %>
  <%= render("comments/form", :f => f) %>
<% end %>
 

